@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth !important;
}
body {
    background: #08080c;
}

*{
    padding: 0;
    margin: 0;
    /* font-family: 'Inter', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
