input[type='text'], textarea {
    color: white;
    outline: none;
    background: transparent;
    border: 2px solid #276a5d;
    padding: 25px 25px;
    border-radius: 9999px;
    font-size: 1.1em;
}

textarea {
    padding: 10px;
    resize: none;
}

.TextArea {
    color: white;
    padding: 10px;
}